.heading{
    font-size:23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(17, 93, 192);
}
.heading_div{
    float: none;
    background: white;
    padding: 0px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px red;
}
.heading_div2{
    font-size: 18px;
}
.result_para_tag{
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
    border-bottom: 7px dashed palevioletred;
}
.copy_right_footer{
    position: fixed;
    color: slateblue;
    bottom: 0;
    width: 100%;
    background-color: tomato;
    line-height: 2;
    text-align: center;

}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 125px;
}